---
layout: base
class: landing
---
  {% include nav.html %}
  <div class="section-container mps"><div class="section">
  <section id="mps">
    <h1>The Molecular Programming Society</h1>
    <p>We are the Molecular Programming Society, an international grassroots team of scientists, engineers, and entrepreneurs, who are programming the behavior of physical matter.</p>
    <p>We build liquid computers that run on chemistry, instead of electricity. Using these chemical computers, we program non-biological matter to grow, heal, adapt, communicate with the surrounding environment, replicate, and disassemble.</p>
    <p>The same switches that make up your laptops and cell phones can be implemented as chemical reactions [1]. In electronics, information is encoded as high or low voltages of electricity. In our chemical computers, information is encoded as high or low concentrations of molecules (DNA, RNA, proteins, and other chemicals). By designing how these components bind to each other, we can program molecules to calculate square roots [2], implement neural networks that recognize human handwriting [3], and play a game of tic-tac-toe [4]. Chemical computers are slow, expensive, error prone, and take incredible effort to program… but they have one key advantage that makes them particularly exciting:</p>
    <p>The outputs of chemical computers are molecules, which can directly bind to and rearrange physical matter.</p>
    <p>Broad libraries of interfaces exist [5] that allow chemical computers to control the growth and reconfiguration of nanostructures, actuate soft robotics up to the centimeter scale, regulate drug release, grow metal wires, and direct tissue growth. Similar interfaces allow chemical computers to sense environmental stimuli as inputs, including chemical concentrations, pressure, light, heat, and electrical signals.</p>
    <p>In the near future, chemical computers will enable humans to control matter through programming languages, instead of top-down brute force. Intelligent medicines will monitor the human body for disease markers and deliver custom therapeutics on demand. DNA-based computers will archive the internet for ultra-long term storage. In the more distant future, we can imagine programming airplane wings to detect and heal damage, cellphones to rearrange and update their hardware at the push of a button, and skyscrapers that grow up from seeds planted in the earth.</p>
    <p>Currently our society is drafting a <a href="#aomp">textbook</a> called The Art of Molecular Programming, which will elucidate the principles of molecular programming and hopefully inspire more people (you!) to help us spark this second computer revolution.</p>
    <p>Our <a href="#team">grassroots team</a> includes members who work at Aalto University, Brown, Cambridge, Caltech, Columbia, Harvard, Nanovery, NIST, National Taiwan University, Newcastle University, North Carolina A&T State University, Technical University of Munich, University of Malta, University of Edinburgh, UCLA, University of Illinois at Urbana-Champaign, UT Austin, University of Vienna, and University of Washington. Collectively, our society members have published over 900 peer-reviewed papers on topics related to molecular programming.</p>
    <ol class="references">
      <li><span class="reference-label">[1]</span>Seelig, Georg, et al. "Enzyme-free nucleic acid logic circuits." science 314.5805 (2006): 1585-1588.</li>
      <li><span class="reference-label">[2]</span>Qian, Lulu, and Erik Winfree. "Scaling up digital circuit computation with DNA strand displacement cascades." Science 332.6034 (2011): 1196-1201.</li>
      <li><span class="reference-label">[3]</span>Cherry, Kevin M., and Lulu Qian. "Scaling up molecular pattern recognition with DNA-based winner-take-all neural networks." Nature 559.7714 (2018): 370-376.</li>
      <li><span class="reference-label">[4]</span>Stojanovic, Milan N., and Darko Stefanovic. "A deoxyribozyme-based molecular automaton." Nature biotechnology 21.9 (2003): 1069-1074.</li>
      <li><span class="reference-label">[5]</span>Scalise, Dominic, and Rebecca Schulman. "Controlling matter at the molecular scale with DNA circuits." Annual review of biomedical engineering 21 (2019): 469-493.</li>
      <li><span class="reference-label">[*]</span><em>...and hundreds more!</em></li>
    </ol>
  </section>
  </div></div>
  <div class="section-container aomp"><div class="section">
  <section id="aomp">
    <svg class="logo">
      AoMP<title>AoMP</title>
      <use xlink:href="#aomp-logo"/>
      <image src="/assets/logo-white.png" xlink:href=""/>
    </svg>
    <h1>The Art of Molecular Programming</h1>
    <h2>A grassroots textbook initative.</h2>
    <p>The principles of molecular programming are currently scattered across thousands of papers, which presents a barrier for new researchers entering the field. The Art of Molecular Programming is a grassroots community initiative to collect these principles in one location, providing tutorial lessons to guide students’ learning, and presenting a collective vision on where the field is heading.</p>
    <p id="contact">{% include email-link.html %}</p>
  </section>
  <section id="team">
    <div id="exec" class="board-container"><div class="board">
        <h3>Executive Board</h3>
        <ul>
          {% assign board_members = site.data.aomp.boards.executive %}
          {% for member in board_members %}
          <li>
            <span class="name{% if member.lead %} lead{% endif %}">{{ member.name | escape }}</span><br>
            <span class="role">{{ member.role | escape }}</span>
          </li>
          {% endfor %}
        </ul>
    </div></div>

    <div id="editorial" class="board-container">
      {% for board in site.data.aomp.boards.editorial %}
      <div class="board">
        <h4>Editorial Board {{ forloop.index }}.</h4>
        <h3>{{ board.topic | escape }}</h3>
        <ul>
          {% assign board_members = board.members %}
          {% for member in board_members %}
          <li><span class="name{% if member.lead %} lead{% endif %}">{{ member.name | escape }}</span><br></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>

    <div id="specialist" class="board-container"><div class="board credit">
        <h3>Content Specialists</h3>
        <ul>
          {% assign board_members = site.data.aomp.roving %}
          {% for member in board_members %}
          <li>
            <span class="name{% if member.lead %} lead{% endif %}">{{ member.name | escape }}</span><br>
            <span class="role">{{ member.role | escape }}</span>
          </li>
          {% endfor %}
        </ul>
    </div></div>

    <div id="adjunct" class="board-container"><div class="board credit">
      <h3>Adjunct Editors</h3>
      <ul>
        {% assign board_members = site.data.aomp.adjunct %}
        {% for member in board_members %}
        <li><span class="name{% if member.lead %} lead{% endif %}">{{ member.name | escape }}</span><br></li>
        {% endfor %}
      </ul>
    </div></div>

    {% comment %}
    <div id="aux" class="board-container">
      {% for board in site.data.aomp.aux %}
      <div class="board">
        <h3>{{ board.topic | escape }} Editors</h3>
        <ul>
          {% assign board_members = board.members %}
          {% for member in board_members %}
          <li><span class="name{% if member.lead %} lead{% endif %}">{{ member.name | escape }}</span><br></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
    {% endcomment %}

    <div id="authors" class="board-container"><div class="board credit">
      <h3>Authors</h3>
      <ul>
        {% assign board_members = site.data.aomp.authors %}
        {% for member in board_members %}
        <li><span class="name{% if member.lead %} lead{% endif %}">{{ member.name | escape }}</span><br></li>
        {% endfor %}
      </ul>
    </div></div>

    <div id="faculty" class="board-container"><div class="board credit">
      <h3>Faculty Advisory Board</h3>
      <ul>
        {% assign board_members = site.data.aomp.boards.faculty %}
        {% for member in board_members %}
        <li><span class="name{% if member.lead %} lead{% endif %}">{{ member.name | escape }}</span><br></li>
        {% endfor %}
      </ul>
    </div></div>

    {% if site.data.aomp.thanks.size > 0 %}
    <div id="special" class="board-container"><div class="board credit">
      <h3>and with special thanks to</h3>
      <ul>
        {% assign board_members = site.data.aomp.thanks %}
        {% for member in board_members %}
        <li><span class="name">{{ member.name | escape }}</span><br></li>
        {% endfor %}
      </ul>
    </div></div>
    {% endif %}
    
  </section>
  </div></div>
  <div class="section-container molpigs"><div class="section">
  <section id="molpigs">
    <p>Check out our sister project!</p>
    <a href="https://molpi.gs" class="logo-link"><svg class="logo" viewbox="0 0 700 650">
      <image xlink:href="https://molpi.gs/asset/logo.svg" x="-40" y="0" width="700" height="600"/>
      <text x="370" y="600" text-anchor="middle" style="font-size: 120px; user-select: none;"><tspan fill="#ffd739">m</tspan><tspan fill="#ff6e39">o</tspan><tspan fill="#3996ff">l</tspan><tspan fill="#da8585">pig</tspan><tspan fill="#39ff9f">s</tspan></text>
      Molecular Programming Interest Group
      <title>Molecular Programming Interest Group</title>
    </svg></a>
    <p>{% include molpigs %}, the Molecular Programming Interest Group, is a group aimed at PhD students and early career researchers within the fields of Molecular Programming, DNA Computing, and other related specialties. We currently host a <a href="https://podcast.molpi.gs">podcast</a> discussing research and experiences from people across our fields!</p>
  </section>
  </div></div>
