    <nav>
      <ul>
        <li><a href="{{ "/#mps" | relative_url }}">mps</a></li>
        <li><a href="{{ "/#aomp" | relative_url }}">aomp</a></li>
        <li><a href="{{ "/#molpigs" | relative_url }}">molpigs</a></li>
        <li><a href="{{ "/newsletter" | relative_url }}">newsletter</a></li>
        <li><a href="https://twitter.com/MolProgSoc"><span class="icon"><svg>
            twitter<title>twitter</title>
            <use xlink:href="#fa-twitter"/>
        </svg></span></a></li>
        <li><a href="https://github.com/molprog"><span class="icon"><svg>
            github<title>github</title>
            <use xlink:href="#fa-github"/>
        </svg></span></a></li>
        <li>{% include email-icon.html %}</li>
      </ul>
    </nav>