---
layout: sectioned
---
<style>
  body {
    counter-reset: chapter;
  }
  .section section > ol > li {
    counter-increment: chapter;
  }
  .section section ol > li, li.tagged {
    padding-top: 1em;
  }
  .section section a.tag {
    color:  inherit;
  }
  .section section ol > li {
    font-family: 'Univers Bold', sans;
  }
  .section section ul > li {
    font-family: 'Univers Regular', sans;
  }
  .section section > ol > li:before {
    content: counter(chapter) '.';
  }
  .section section > ol ol > li:before {
    content: counter(ol, lower-alpha) '.';
  }
  code {
    font-size:  0.6em;
    color: {{ site.colours.blue }};
    font-weight: bold;
    position: relative;
    display: inline-block;
    width: 0;
    top: -1.8em;
  }
  code:before {
    content:  "[\00a0";
  }
  code:after {
    content:  "\00a0]";
  }
</style>

{% unless page.title %}
<h1>Table of Contents</h1>
{% endunless %}

{{ content }}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
