<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="{{ site.colours.blue }}">
    <meta name="theme-color" content="{{ site.colours.blue }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/style.css" | relative_url }}">
    <title>{% if page.title %}{{ page.title }} :: {% endif %}{{ site.title }}</title>
  </head>
  <body{% if page.class %} class="{{ page.class }}"{% endif %}>
    {{ content }}
  </body>
</html>
