---
layout: base
---
{% assign sections = content | split: page.section_delimiter %}
{% include defs.svg %}
<div class="section-container nav-container">
  <div class="section">
{% include raw-nav.html %}
    <section>
      {{ sections[0] }}
    </section>
  </div>
</div>
{% for section in sections %}{% unless forloop.first %}
<div class="section-container"><div class="section"><section>
  {% unless page.custom_title %}{% if forloop.index == 2 and page.title %}<h1>{{ page.title }}</h1>{% endif %}{% endunless %}
  {{ section }}
</section></div></div>
{% endunless %}{% endfor %}
